
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
.env
symfony.lock
console
.idea/blog.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/yii2settings.xml
.idea/dataSources.local.xml
.idea/inspectionProfiles/Project_Default.xml

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###
phpcs.xml.dist
