
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
.env
symfony.lock
console
.idea/blog.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/yii2settings.xml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/*

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###
phpcs.xml.dist
d3dc2a4a-e273-415a-b4fa-40daa62bad18.xml

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
.env.test

phpunit.xml
bin/*

###> behat/symfony2-extension ###
behat.yml
###< behat/symfony2-extension ###
